/* 
font-family: 'Assistant', sans-serif;
font-family: 'Inter', sans-serif; 
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.block-1 {
  background-image: url("../img/bg-blue.png");
  background-repeat: no-repeat;
  background-size: 70%;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: black;
}

.header__home {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-right: 42px;
  color: white;
}

.header__link {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
  margin-right: 42px;
  color: white;
}

.header__login {
  font-size: 13px;
  line-height: 16px;
  color: #262B35;
  font-weight: bold;
  margin-right: 12px;
}

.header__line {
  border: 1px solid #D4D4D4;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 12px;
}

.header__register {
  font-size: 13px;
  line-height: 16px;
  color: #1ECE7A;
  font-weight: bold;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header__logo img {
  margin-right: 12px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px;
}

.wrapper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 190px;
}

.wrapper__title {
  font-size: 55px;
  line-height: 72px;
  padding-right: 80px;
  margin-bottom: 36px;
  /* or 131% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
  font-weight: bold;
}

.wrapper__title span {
  color: #1ECE7A;
}

.wrapper__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: white;
  margin-bottom: 64px;
}

.wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper__button .wrapper__button-1 {
  background: #1ECE7A;
  border-radius: 3px;
  border: #1ECE7A;
  height: 44px;
  width: 128px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: white;
}

.wrapper__button .wrapper__button-2 {
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 44px;
  width: 128px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-left: 38px;
}

.block-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 200px 800px;
      grid-template-rows: 200px 800px;
}

.block-2__quote {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #606C84;
}

.block-2__quote p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-transform: translate(14%);
          transform: translate(14%);
}

.block-2__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -webkit-transform: translate(15%);
          transform: translate(15%);
}

.pretitle {
  font-size: 15px;
  line-height: 140%;
  font-weight: bold;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #1C57C9;
  font-family: 'Inter', sans-serif;
}

.block-2__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #262B35;
  margin-top: 15px;
}

.block-2__text p {
  font-size: 18px;
  line-height: 160%;
  color: #606C84;
}

.block-2__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  -ms-grid-rows: 300px 300px;
      grid-template-rows: 300px 300px;
      grid-template-areas: "card1 card2" "card3 card4";
}

.block-2__card {
  padding-top: 60px;
}

.block-2__card img {
  margin-bottom: 35px;
}

.block-2__card h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #262B35;
  margin-bottom: 15px;
}

.block-2__card p {
  font-size: 15px;
  line-height: 160%;
  color: #606C84;
}

.card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}

.card-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: card2;
}

.card-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card3;
}

.card-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: card4;
}

.block-3 {
  display: -ms-grid;
  display: grid;
  height: 1100px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-image: url("../img/background-blue.png");
  background-repeat: no-repeat;
  background-size: 100% cover;
  background-position: right;
}

.block-3 img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

.block-3__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.block-3__cards {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -webkit-transform: translate(25%);
          transform: translate(25%);
}

.block-3__card {
  margin-top: 40px;
  width: 60%;
  margin-top: 80px;
}

.block-3__card h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 15px 0;
}

.block-3__card p {
  font-size: 15px;
  line-height: 160%;
  color: #FFFFFF;
}

.block-3__card img {
  position: absolute;
  left: -80px;
}

.block-3__title {
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #262B35;
  margin-top: 15px;
}

@media (max-width: 1924px) {
  .wrapper__text {
    padding-right: 500px;
  }
  .nav__menu {
    display: none;
  }
}

@media (max-width: 1760px) {
  .wrapper__text {
    padding-right: 300px;
  }
}

@media (max-width: 1536px) {
  .wrapper__text {
    padding-right: 150px;
  }
}

/* Large desktops and laptops */
@media (max-width: 1440px) {
  body {
    background-size: 80%;
  }
  .wrapper__text {
    padding-right: 100px;
    margin-left: 110px;
  }
  .wrapper img {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 1280px) {
  .wrapper__text {
    padding-right: 100px;
  }
  .wrapper__title {
    font-size: 35px;
    line-height: 50px;
  }
  .wrapper img {
    width: 40%;
    height: 50%;
  }
  .block-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px;
        grid-template-rows: 300px;
    padding-top: 180px;
  }
  .block-2__img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -webkit-transform: translate(0);
            transform: translate(0);
    text-align: center;
  }
  .block-2__img img {
    max-width: 100%;
    max-height: 100%;
  }
  .block-2__quote {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .block-2__quote p {
    text-align: center;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .block-2__sidepart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-2__sidepart .block-2__text {
    text-align: center;
    padding: 0 15px;
  }
  .block-2__sidepart .block-2__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .block-3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 900px;
        grid-template-rows: 1fr 1fr 1fr 900px;
    background-image: none;
  }
  .block-3 img {
    display: block;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
  }
  .block-3__text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .block-3__cards {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    background-color: #1C57C9;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .block-3__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0 60px;
  }
  .block-3__card img {
    position: absolute;
    left: 375px;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .block-1 {
    background-image: url("../img/bg-blue2.png");
    background-size: 100%;
  }
  .nav__menu {
    display: block;
    background: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: white;
    margin-left: 38px;
    cursor: pointer;
    z-index: 2;
  }
  .wrapper {
    margin-top: 100px;
  }
  .wrapper img {
    display: none;
  }
  .wrapper__title {
    text-align: center;
    padding-right: 0;
    font-size: 55px;
    line-height: 72px;
    padding: 0 100px 0 100px;
  }
  .wrapper__subtitle {
    text-align: center;
    margin-bottom: 60px;
  }
  .wrapper__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 262px;
  }
  .line {
    background: white;
    width: 30px;
    height: 3px;
    margin: 5px;
  }
  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: #765fcf;
    height: 100%;
    width: 100%;
    bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(0px at 100% -10%);
    -webkit-clip-path: circle(0px at 100% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .header__items li {
    margin-bottom: 60px;
  }
  .header__items li:first-child {
    margin-top: 150px;
  }
  .header__items a {
    margin-right: 0;
  }
  .header__items.open {
    clip-path: circle(1400px at 100% -10%);
    -webkit-clip-path: circle(1400px at 100% -10%);
    pointer-events: all;
  }
  .header__items.open a {
    margin-right: 0;
  }
  .header__user {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 796px) {
  .block-1 {
    background-image: none;
    background-color: #1C57C9;
    border-radius: 0 0 300px 0;
  }
  .wrapper__title {
    font-size: 42px;
    line-height: 140%;
    padding-right: 0;
    padding-left: 0;
  }
  .wrapper__button {
    margin-bottom: 200px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 507px) {
  .block-1 {
    background-image: none;
    background-color: #1C57C9;
    border-radius: 0 0 160px 0;
  }
  .wrapper__text {
    padding: 0 20px 0 20px;
    margin-left: 0;
  }
  .wrapper__button {
    margin-bottom: 150px;
  }
  .block-2__quote p {
    width: 100%;
  }
  .block-2__img img {
    max-width: 100%;
    max-height: 100%;
  }
  .block-2__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: "card1";
  }
  .block-2__card {
    padding: 20px 20px;
  }
  .block-2__quote {
    padding: 0 15px;
  }
  .block-2__title {
    padding-bottom: 20px;
  }
}

/* Iphone 5 */
@media (max-width: 375px) {
  .block-1 {
    background-image: none;
    background-color: #1C57C9;
    border-radius: 0 0 160px 0;
  }
  .wrapper__button {
    margin-bottom: 200px;
  }
}
/*# sourceMappingURL=style.css.map */