/* 
font-family: 'Assistant', sans-serif;
font-family: 'Inter', sans-serif; 
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block-1 {
  font-family: 'Inter', sans-serif;
  background-image: url("../img/bg-blue.png");
  background-repeat: no-repeat;
  background-size: 70%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: black;
}

.header__home {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  margin-right: 42px;
  color: white;
}

.header__link {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
  margin-right: 42px;
  color: white;
}

.header__login {
  font-size: 13px;
  line-height: 16px;
  color: #262B35;
  font-weight: bold;
  margin-right: 12px;
}

.header__line {
  border: 1px solid #D4D4D4;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 12px;
}

.header__register {
  font-size: 13px;
  line-height: 16px;
  color: #1ECE7A;
  font-weight: bold;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
  line-height: 27px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header__logo img {
  margin-right: 12px;
}

/* Large desktops and laptops */
/* Landscape tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Portrait phones and smaller */
/* Iphone 5 */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 96px;
}

.wrapper__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 190px;
}

.wrapper__title {
  font-size: 55px;
  line-height: 72px;
  padding-right: 80px;
  margin-bottom: 36px;
  /* or 131% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
  font-weight: bold;
}

.wrapper__title span {
  color: #1ECE7A;
}

.wrapper__subtitle {
  font-size: 20px;
  line-height: 32px;
  color: white;
  margin-bottom: 64px;
}

.wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper__button .wrapper__button-1 {
  background: #1ECE7A;
  border-radius: 3px;
  border: #1ECE7A;
  height: 44px;
  width: 128px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: white;
}

.wrapper__button .wrapper__button-2 {
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 44px;
  width: 128px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: white;
  margin-left: 38px;
}

@media (max-width: 1924px) {
  .wrapper__text {
    padding-right: 500px;
  }
  .nav__menu {
    display: none;
  }
}

@media (max-width: 1760px) {
  .wrapper__text {
    padding-right: 300px;
  }
}

@media (max-width: 1536px) {
  .wrapper__text {
    padding-right: 150px;
  }
}

/* Large desktops and laptops */
@media (max-width: 1440px) {
  body {
    background-size: 80%;
  }
  .wrapper__text {
    padding-right: 100px;
    margin-left: 110px;
  }
  .wrapper img {
    width: 50%;
    height: 50%;
  }
}

@media (max-width: 1280px) {
  .wrapper__text {
    padding-right: 100px;
  }
  .wrapper__title {
    font-size: 35px;
    line-height: 50px;
  }
  .wrapper img {
    width: 40%;
    height: 50%;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .block-1 {
    background-image: url("../img/bg-blue2.png");
    background-size: 100%;
  }
  .nav__menu {
    display: block;
    background: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: white;
    margin-left: 38px;
    cursor: pointer;
    z-index: 2;
  }
  .wrapper {
    margin-top: 100px;
  }
  .wrapper img {
    display: none;
  }
  .wrapper__title {
    text-align: center;
    padding-right: 0;
    font-size: 55px;
    line-height: 72px;
    padding: 0 100px 0 100px;
  }
  .wrapper__subtitle {
    text-align: center;
    margin-bottom: 60px;
  }
  .wrapper__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 262px;
  }
  .line {
    background: white;
    width: 30px;
    height: 3px;
    margin: 5px;
  }
  .header__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    background: #765fcf;
    height: 550px;
    width: 100%;
    bottom: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(0px at 100% -10%);
    -webkit-clip-path: circle(0px at 100% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .header__items li {
    margin-bottom: 60px;
  }
  .header__items li:first-child {
    margin-top: 150px;
  }
  .header__items.open {
    clip-path: circle(1200px at 90% -20%);
    -webkit-clip-path: circle(1200px at 90% -20%);
    pointer-events: all;
  }
  .header__user {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 796px) {
  .block-1 {
    background-image: none;
    background-color: #1C57C9;
    border-radius: 0 0 300px 0;
  }
  .wrapper__title {
    font-size: 42px;
    line-height: 140%;
    padding-right: 0;
    padding-left: 0;
  }
  .wrapper__button {
    margin-bottom: 200px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 507px) {
  .block-1 {
    background-image: none;
    background-color: #1C57C9;
    border-radius: 0 0 160px 0;
  }
  .wrapper__text {
    padding: 0 20px 0 20px;
    margin-left: 0;
  }
  .wrapper__button {
    margin-bottom: 150px;
  }
}

/* Iphone 5 */
@media (max-width: 375px) {
  .block-1 {
    background-image: none;
    background-color: #1C57C9;
    border-radius: 0 0 160px 0;
  }
  .wrapper__button {
    margin-bottom: 200px;
  }
}
/*# sourceMappingURL=style.css.map */